<h1>Add Project</h1>
<form method="post" action="/admin/add" enctype="multipart/form-data">

    <div class="form-group">
        <label>Title</label>
        <input name="title" class="form-control" type="text" placeholder="Title">
    </div>

    <div class="form-group">
        <label>Service</label>
        <input name="service" class="form-control" type="text" placeholder="Service">
    </div>

    <div class="form-group">
        <label>Client</label>
        <input name="client" class="form-control" type="text" placeholder="Client">
    </div>

    <div class="form-group">
        <label>Project Url</label>
        <input name="url" class="form-control" type="text" placeholder="Project Url">
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea name="description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>Project Date</label>
        <input name="projectDate" type="date" class="form-control">
    </div>

    <div class="form-group">
        <label>Image</label>
        <input name="projectImage" type="file" class="form-control">
    </div>

    <button type="submit" class="button">Submit</button>

</form>